<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>705926124857-h7f1a3p3fb345vrnnff9kijvcvuvrkvt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.705926124857-h7f1a3p3fb345vrnnff9kijvcvuvrkvt</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>705926124857-mgdtgbis575ghcclujdsgvihemhuirs6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBalaLVpYOhCpmOBLvQcUjPFp3tCSYBFq8</string>
	<key>GCM_SENDER_ID</key>
	<string>705926124857</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.snakeoilsoftware.quizapp</string>
	<key>PROJECT_ID</key>
	<string>quizapp-c38fc</string>
	<key>STORAGE_BUCKET</key>
	<string>quizapp-c38fc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:705926124857:ios:8f6319739187103b1104e8</string>
</dict>
</plist>